:root {
  /* --img1 =  */
}

body {
  height: 100vh;
  padding: 2vw;
  font-family: "Kufam", cursive;
}
.btn {
  font-size: 1.5vw;
  padding: 2vh 2.5vw;
  margin: 1vw;
  border: none;
  box-shadow: 10px 5px 5px rgb(165, 158, 158);
  border-radius: 7px;
  color: #f3f3f3;
  background-image: url(./animal-theme/back-cover.jpg);
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: center;
  background-size: cover;
}
.btn:active {
  box-shadow: 5px 0 5px rgb(80, 75, 75);
  transform: translateY(4px);
  transform: translateX(4px);
}
.container {
  background: #f3f3f3;
  height: 100%;
  padding: 2vw;
  display: grid;
  grid-template-rows: max-content auto;
}
header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
header > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.mainHeader {
  background: #fff;
}
.mainHeader h1 {
  font-size: 3vw;
}
.playerDetails {
  padding: 5px 30px;
  background-color: rgb(207, 218, 214);
  border-radius: 5px;
  align-items: center;
  font-size: 1.5vw;
}
.bestPlayer {
  text-align: center;
}

.gameBoard-container {
  align-self: stretch;
  height: 100%;
  padding: 4vw;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.card {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  box-shadow: 10px 5px 5px rgb(165, 158, 158);
  font-size: 40px;
  color: #f3f3f3;
  background-image: url(./animal-theme/back-cover.jpg);
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: center;
  background-size: cover;
  /* transition: all 0.8s;
  transform-style: preserve-3d; */
}
.gameBoard {
  height: 100%;
  justify-items: center;
  justify-content: space-between;
  display: grid;
  row-gap: 2vh;
  column-gap: 1vw;
}

.gameBoard.easy {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 18vw);
}
.gameBoard.medium {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(6, 10vw);
}
.gameBoard.hard {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(8, 8vw);
}
/* [data-flipped="true"] {
  transform: rotateY(180deg); */
/* } */
/* [data-flipped="false"] {
  transform: rotateY(180deg); */
/* } */

[data-value="1"][data-flipped="true"] {
  background-image: url(./animal-theme/ashwini-chaudhary-dxZfz8VHA4Q-unsplash.jpg);
}
[data-value="2"][data-flipped="true"] {
  background-image: url(./animal-theme/birger-strahl-JqUUYJ8oUmo-unsplash.jpg);
}
[data-value="3"][data-flipped="true"] {
  background-image: url(./animal-theme/brittney-weng-YXq9lDyszBQ-unsplash.jpg);
}
[data-value="4"][data-flipped="true"] {
  background-image: url(./animal-theme/dusan-smetana-lwaaikBkiP8-unsplash.jpg);
}
[data-value="5"][data-flipped="true"] {
  background-image: url(./animal-theme/dustin-humes-qMuOXvGGIX8-unsplash.jpg);
}
[data-value="6"][data-flipped="true"] {
  background-image: url(./animal-theme/erda-estremera-CsLRfajosgA-unsplash.jpg);
}
[data-value="7"][data-flipped="true"] {
  background-image: url(./animal-theme/fabian-keller-2Bust437YkE-unsplash.jpg);
}
[data-value="8"][data-flipped="true"] {
  background-image: url(./animal-theme/julia-craice-o0S-0Pa4F2M-unsplash.jpg);
}
[data-value="9"][data-flipped="true"] {
  background-image: url(./animal-theme/karsten-winegeart-88lDyjdIDGw-unsplash.jpg);
}
[data-value="10"][data-flipped="true"] {
  background-image: url(./animal-theme/leon-bublitz-HetKVEbe9lM-unsplash.jpg);
}
[data-value="11"][data-flipped="true"] {
  background-image: url(./animal-theme/wolfgang-hasselmann-s-vNm9H3mRg-unsplash.jpg);
}
[data-value="12"][data-flipped="true"] {
  background-image: url(./animal-theme/66-north-PqDR1-8jv1c-unsplash.jpg);
}

/* welcome page style */
.welcome-container {
  background-image: url(./animal-theme/back-cover.jpg);
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: center;
  background-size: cover;
  font-size: 2vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcomeMsgContainer {
  background-color: #f3f3f3;
  border-radius: 7px;
  max-height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 5px 5px rgb(19, 16, 16);
  padding: 30px;
  margin: 20px 0;
  line-height: 6vw;
}
.inputFields-container {
  background-color: #f3f3f3;
  border-radius: 7px;
  min-height: 20vw;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 5px 5px rgb(19, 16, 16);
  padding: 15px 25px;
  margin: 20px 0;
}

.inputFields-container > div {
  padding: 3vh 3vw;
}

.welcome-container > .startBtn {
  font-size: 3vw;
  padding: 3vh 3vw;
  color: black;
  border: none;
  background: #f3f3f3;
  box-shadow: 10px 5px 5px rgb(19, 16, 16);
}
.welcome-container > .startBtn:active {
  /* opacity: 0.8; */
  box-shadow: 5px 0 5px rgb(0, 0, 0);
  transform: translateY(4px);
  transform: translateX(4px);
}
.inputName-Field,
.inputLevel-radio {
  margin-top: 15px;
  align-content: center;
}
.inputLevel-radio {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}
.inputLevel-radio > div > input {
  vertical-align: middle;
  /* transform: scale(1.5); */
  margin: 0 10px;
}
input#playerName {
  padding: 5px 10px;
}
